html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Calibri, Tahoma, Arial, sans-serif;
  font-size: 1em;
  background-color: black;
}
#form1 {
  width: 97.5%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#divContainer{
  width: 100%;
  height: 100%;
}
#divTopbar {
  vertical-align: middle;
  text-align: center;
  background-color: #C2D9F0;
  padding: 0;;
  height: 2.4em;
  width: 100%;
}
#lbltitle {
  font-size: 1.8em;
}
#fatalMessage {
  font-size: 1.6em;
}
#divCalendar {
  width: 100%;
  height: 80%;
  text-align: center;
}
#mainCalendar {
  width: 100%;
  height: 90%;
}
#lblPickDay {
  font-size: 1.2em;
  color: white;
}

@media screen and (max-width: 1440px) {
  #topbar {
    height: 1.8em;
  }
  #divCalendar {
    height: 30%;
  }
}

@media screen and (max-width: 760px) {
  #lbltitle {
    font-size: 1.2em;
  }
  #divCalendar {
    height: 12%;
  }
}
