html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: calibri, arial, 'sans serif';
  font-size: 1.2em;
}
.tblButton {
  height: 100%;
  width: 100%;
}
#form1 {
  height: 100%;
  width: 100%;
}
#topbar{
  width: 98%;
  height: 1.3em;
  padding: 0px 12px 0px 12px;
  background-color: #C2D9F0;
  border-bottom: 1px solid black;
}
#tblMonth {
  padding: 0;
  margin: 0;
  width: 99.6%;
  height: 40%;
}
#tblHeader {
  height: 1.2em;
  background-color: #779AC9;
  color: White;
  font-size: 0.8em;
}
#lstSchedule {
  margin-left: 12px;
  width: 300px;
  height: 40%;
}
#divschedule {
  text-align: center;
  height: 100%;
}
#lblSchedule {
  font-weight: bold;
}
#btnArrowLeft, #btnArrowRight {
  height: 1.8em;
  position: relative;
  top: 4px;
}

#lblViewDate {
  font-size: 1em;
}

#topLeft {
  display: inline;
  padding-left: 50px;
  text-align: left;
}

#topRight {
  display: inline;
  text-align: right;
  width: 8%;
  position: relative;
  top: 5px;
}

#lblViewDate, #lblTitle {
  font-size: 0.8em;
}
#btnAdmin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1100px) {
  html,body {
    font-size: 2em;
  }
  #btnArrowLeft, #btnArrowRight {
    height: 3.2em;
    position: relative;
    top: 4px;
  }
  #btnAdmin {
    font-size: 0.8em;
  }
  #lblSchedule, #lblHowToBook {
    font-size: 0.8em;
  }
  #lstSchedule {
    height: 30%;
  }
}